

<br><br><br><br><br><br>

<% @bikes.each do |bike| %>
<table class="table table-striped">
   <tr>
       <th>Bicycle Name <nobr><%= button_to "more info", bike_path(bike), :class => "btn btn-default btn-xs", :method => :get  %></th>
       <th>Year Produced</th>
       <th>Description</th>
   </tr>
   <tr>
       <td><%= bike.name %></td>
       <td><%= bike.year %></td>
       <td><%= bike.description %></td>
   </tr>
</table>


<br>
   <% end %>
   
<%= button_to "Add new bike!", new_bike_path, :class => "btn btn-primary", :method => :get  %>