<h1>Today's Bikes</h1>

<ul>
  <% @bikes.each do |bike| %>
    <li>
      <strong> <%= bike.name %></strong>
      <strong><%= bike.year %></strong>
      <p><%= bike.description %></p><br>
      <%= link_to "Detail..", bike_path(bike) %>

    </li>
    <% end %>
    <br>
   <%= link_to "Add", new_bike_path %>
</ul>

