<br><Br><br><br>
<p>This bike is from  <%= @bike.year %>.<br><strong> Description:</strong> <%= @bike.description %>  </p>

<%= button_to "Edit", edit_bike_path(@bike), :class => "btn btn-primary", :method => :get  %>
<%= button_to "Delete", :bike, method: :delete, data: {confirm: "Are you sure you want to delete this bike?"}  %>
<%= button_to "Return to the full list!", bikes_path, :class => "btn btn-primary", :method => :get  %>